/*Google fonts - Open sans*/
header {
    background-color: var(--azul-fraco);
    padding: 28px 8%;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: var(--azul-forte);
    font-size: 1.5rem;
}

#nav_list {
    display: flex;
    align-items: center;
    list-style: none;
}

#nav_list li {
    margin-left: 1.5rem;
    text-align: center;
}

#nav_list li a {
    color: var(--aliceblue);
}

.action {  
    border-bottom: 2px solid var(--aliceblue);
}

#mobile_btn {
    border: none;
    background-color: #f0f8ff00;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: var(--aliceblue);
}

#mobile_menu, #mobile_btn {
    display: none;
}

@media (max-width: 768px) {
    #nav_list, #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
    }
}